<h2>What would you like to change?</h2>
<form method="post" action="/songs/<%= @song.slug %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name: <input type="text" name="song[name]" value="<%= @song.name %>"></label>
  <h4>Artist:</h4>
    <p>Choose from an existing artist:</p>
    <% all_artists.each do |artist| %>
      <input id="<%= artist.name %>" type="radio" name="song[artist_id]" value="<%= artist.id %>" <%= 'checked' if @song.artist.id == artist.id %>><%= artist.name %></input>
    <% end %>
    <p>Or create a new one:</p>
    <label>Artist Name: <input type="text" name="artist[name]"></label>
  <h4>Genres:</h4>
    <p>Choose from existing genres:</p>
    <% all_genres.each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>" <%= 'checked' if @song.genres.include?(genre) %>><%= genre.name %></input>
    <% end %>
    <p>And/or add a new one</p>
    <label>Genre Name: <input type="text" name="genre[name]"></label>
    <input type="submit" value="Save">
</form>
